.button {
    cursor: pointer;
    color: var(--clr-text);
    font-weight: var(--fw-semi-bold);
    border: none;
    background-color: transparent;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}